.displayClientProviderProfile  .container{
    background-color: white;
    border-radius: 5px;
}

.displayClientProviderProfile .cards{
    border: 1px solid black;
    display: inline-block;
}

.displayClientProviderProfile  img{
    float: right;
    height: 3vw;
}

.displayClientProviderProfile  .debt{
    border: 1px solid rgb(129, 116, 116,0.5);
    width: 60%;
    
    
}

.displayClientProviderProfile .boton2{
    color:black;
    margin-left: auto;
    margin-right: auto;
    font-size: 25px;
    border-radius: 10px;
    border: 2px solid #51C2D5;
    background-color:#51C2D5;
}


.displayClientProviderProfile  .sm-title{
    font-size: 20px;
}


.displayClientProviderProfile .iconAdd{
    width: 5vh;
    height: 5vh;
    border-radius: 10px;
    border: 2px solid #c8c6a7;
    background-color:#dddddd;
}

.displayClientProviderProfile .card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: -webkit-box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    border-radius: 2px;
  }

  .displayClientProviderProfile .card:hover {
    box-shadow: 0 14px 25px #70db24;
    transform: translateY(-15px);
  }