.displayByClientProvider  .container{
    background-color: white;
    border-radius: 5px;
}


.displayByClientProvider .iconAdd{
    width: 5vh;
    height: 5vh;
    border-radius: 10px;
    border: 2px solid #c8c6a7;
    background-color:#dddddd;
}

.displayByClientProvider  .card {
    position: relative;
    margin: 0.5rem 0 1rem 0;
    background-color: #fff;
    transition: -webkit-box-shadow 0.25s;
    transition: box-shadow 0.25s;
    transition: box-shadow 0.25s, -webkit-box-shadow 0.25s;
    border-radius: 2px;
  }

  .displayByClientProvider  .card:hover {
    box-shadow: 0 14px 25px #70db24;
    transform: translateY(-15px);
  }

  .displayByClientProvider .labelTotal{
    height: 8vh;
    margin-right: 78%;
    border-radius: 5%;
    background-color:#acff00;
}