.displayFiltersClient  .container{
    background-color: white;
    border-radius: 5px;
}

.displayFiltersClient .cards{
    padding: 1vw;
    border: 1px solid black;
    display: inline-block;
}

.displayFiltersClient  img{
    float: right;
    height: 3vw;
}

.displayFiltersClient  .sm-title{
    font-size: 0.9vw;
}

.displayFiltersClient  .debt{
    padding: 1vw;
    border: 1px solid black;
    display: inline-block;
}