.header{
    padding: 0.5vw;
    margin-bottom: 2vw;
    border-bottom: 1px solid black;
    box-shadow: 0px 2px 5px;
    background: linear-gradient(to top right, yellow, #70db24);
}

.header img{
    height: 4vw;
}

/*
.header #basic-nav-dropdown:nth-child(1){
    margin-right: 3vw;
    background-color: red;
}
*/
.header .navItem, .header #basic-nav-dropdown{
    margin-right: 1vw;
    color: black !important;
}

.header .navItem:hover, .header #basic-nav-dropdown:hover{
    color: #48ac00 !important;
}

.header .nav{
    position: absolute;
    right: 0;
}

.header .circulo{
    background-color: red;
    border: 1px solid blue;
    border-radius: 50%;
}

.header .flecha{
    margin-right: 0px;
    /*
        margin-left: 17%;
    */
}