.registroTercerosBody{
    padding: 2vw 20vw;
}

.registroTercerosBody h2{
    text-align: center;
}

.registroTercerosBody .formulario{
    border: 1px solid black;
    padding: 1vw;
}

.registroTercerosBody .formInput{
    margin: 1vw;
    height: 2vw;
    width: 12vw;
}

.registroTercerosBody .fila{
    text-align: center;
}

.registroTercerosBody .botones{
    text-align: center;
    margin-top: 1vw;
}

.registroTercerosBody .botones{
    text-align: center;
    margin-top: 1vw;
}

.registroTercerosBody .formButton{
    margin: 1vw;
    height: 3vw;
    width: 10vw;
    font-size: 25px;
}